

.feed {
    color: black !important;
    overflow-x: hidden;
}

#title{
    font-size: 2.5rem;
    font-weight: 500;
}   

#subtitle{
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.Header{
    padding: 2rem;
    align-items: center;
    text-align: left;
    height: 100%;
    object-fit: cover;
}


#boxHeader {
    position: relative;
    background-image: url("/public/fotoHeader.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vw * (602 / 1915));
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
}

#titles{
    margin-bottom: 2rem;
    text-align: left;
}


@media screen and (max-width: 768px) {

    #boxHeader{
        height: 40vh;
        background-size: cover;
    }

    #titles{
        text-align: center;
    }
}

    
    