.feed {
    background-size: cover;
    background-repeat: no-repeat;
    color: black !important;
}
.familyImage{
    width: 100%;
}

.casalIdosos{
    width: 100%;
}
#title{
    font-size: 1.5rem;
    font-weight: 300;
}

#subtitle{
    font-size: 3rem;
    font-weight: 900;
    line-height: 4rem;
}

.Header{
    padding: 2rem;
    align-items: center;
    text-align: left;
}

#mission{
    font-size: 2rem;
    font-weight: 500;
}

#missionDescription{
    margin-top: 2rem;
    font-size: 1.2rem;
}


@media screen and (max-width: 768px) {

    #title{
        padding-top: 1rem;
    }
    #subtitle{
        font-size: 2rem;
        font-weight: 900;
    }
    .Header{
        text-align: center;
    }
}

    
    