

.feed {
    background-size: cover;
    background-repeat: no-repeat;
    color: black !important;
}
.familyImage{
    width: 100%;
}

.casalIdosos{
    width: 100%;
}
#title{
    font-size: 1.5rem;
    font-weight: 300;
}

#subtitle{
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.5rem;
}

.Header{
    padding: 2rem;
    align-items: center;
    text-align: left;
    min-height: 40rem;
}

#mission{
    font-size: 2rem;
    font-weight: 500;
}

#missionDescription{
    margin-top: 2rem;
    font-size: 1.2rem;
}


@media screen and (max-width: 768px) {

    #title{
        padding-top: 1rem;
    }
    #subtitle{
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 30px;
        margin-bottom: 2rem;
    }
    .Header{
        text-align: center;
        flex-direction: column;
        object-fit: contain;
        background-size: 100vh !important;
        margin: 0 !important;
        padding: 0 !important;
        min-height: 30rem  !important;
        align-items: end !important;
        display: grid !important;
    }
}

    
    